@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;650&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.txt-grad {
  background-color: #fff;
  background-image: linear-gradient(to right, #89253E 0%, #3d99be 31%, #56317a 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.grad {
  @apply overflow-visible flex relative items-center justify-center
}
.grad::after {
  background-image: conic-gradient(from var(--angle), #ff4545 20%,#00ff99 40% ,#3d99be 60%, #ff0095 80%, #ff4545 100% );
  animation: borderspin 2s linear infinite;
  @apply content-[''] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 md:w-full w-9/12 h-full 
} 
.grad::before {
  @apply content-[''] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 md:w-full w-9/12 h-full 
  opacity-50 blur-[1.5rem]
}
@keyframes borderspin {
  from{
    --angle:0deg;
  }
  to {
    --angle:360deg;
  }
}


@font-face{
  font-family: 'balme';
  src: url('public/balme-webfont.woff');
  src: url('public/balme-webfont.woff?#iefix') format('embedded-opentype'),
  url('public/balme-webfont.woff') format('woff'),
  url('public/balme.otf') format('truetype');
  }
.balme {
  font-family: 'balme',Arial ,sans-serif ;
}

@font-face{
  font-family: 'refin';
  src: url('public/refin-webfont.woff');
  src: url('public/refin-webfont.woff?#iefix') format('embedded-opentype'),
  url('public/refin-webfont.woff') format('woff'),
  url('public/refin.otf') format('truetype');
}
.refin {
  font-family: 'refin',Arial ,sans-serif ;
}

@tailwind base;
@tailwind components;
@tailwind utilities;